In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
stock = pd.read_csv("D:\databank\CSMAR\TRD_Mnth.csv")
stock = stock[['Stkcd','Trdmnt','Mclsprc','Msmvosd','Msmvttl','Ndaytrd','Mretwd','Mretnd','Markettype']].copy()

### 筛选

In [3]:
len(stock)

693245

In [174]:
stock

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj,cret12,cret12_lag,rank,cret12_decile
0,1,199104,21.840,1157520.00,2118487.47,20,0.000000,NaN,4,200000,NaN,NaN,NaN,NaN
1,1,199105,19.170,1016010.00,1859496.56,24,-0.122253,0.211649,4,200000,NaN,NaN,NaN,NaN
2,1,199106,16.995,900735.00,1648520.81,23,-0.113459,-0.120428,4,200000,NaN,NaN,NaN,NaN
3,1,199107,14.770,782810.00,1432695.05,16,-0.130921,-0.140321,4,200000,NaN,NaN,NaN,NaN
4,1,199108,7.500,674833.82,1346274.65,15,-0.411588,-0.530326,4,200000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693240,900957,202205,0.554,101936.00,193346.00,19,0.069499,0.067189,2,202205,-0.102106,-0.168539,1739.0,1.0
693241,900957,202206,0.598,110032.00,208702.00,21,0.079422,0.076426,2,202206,-0.056782,-0.102106,2027.0,2.0
693242,900957,202207,0.584,107456.00,203816.00,21,-0.023408,-0.023689,2,202207,-0.094573,-0.056782,2097.0,2.0
693243,900957,202208,0.639,117576.00,223011.00,23,0.094179,0.090003,2,202208,0.052719,-0.094573,1705.0,1.0
693244,900957,202209,0.587,108008.00,204863.00,21,-0.081377,-0.084879,2,202209,-0.113293,0.052719,3113.0,3.0

In [4]:
# stock[(condition1) & (~condition2) | (condition3)]   筛选的第一种  ———— 行筛选

# 列不变，行减少
stock[(stock['Markettype'].isin([1,4,16,32])) & (stock['Trdmnt']>=199901) & (stock['Trdmnt']<=202012)][['Mretwd','Stkcd','Trdmnt']]

          Mretwd   Stkcd  Trdmnt
93     -0.034045       1  199901
94     -0.060815       1  199902
95      0.007358       1  199903
96     -0.021183       1  199904
97      0.383582       1  199905
...          ...     ...     ...
674248 -0.048040  688981  202011
674249 -0.025316  688981  202012
674271       NaN  689009  202010
674272  0.498950  689009  202011
674273  0.202803  689009  202012

[531930 rows x 3 columns]

In [5]:
# loc \ iloc 也可以筛选
# ，前是 行逻辑   ，后是 列逻辑
stock.loc[(stock['Markettype'].isin([1,4,16,32])) & (stock['Trdmnt']>=199901) & (stock['Trdmnt']<=202012),['Mretwd','Stkcd','Trdmnt']]

          Mretwd   Stkcd  Trdmnt
93     -0.034045       1  199901
94     -0.060815       1  199902
95      0.007358       1  199903
96     -0.021183       1  199904
97      0.383582       1  199905
...          ...     ...     ...
674248 -0.048040  688981  202011
674249 -0.025316  688981  202012
674271       NaN  689009  202010
674272  0.498950  689009  202011
674273  0.202803  689009  202012

[531930 rows x 3 columns]

In [6]:
# 下面的这种 方便用于条件赋值
stock.loc[stock['Mretwd']>=0.6,'Mretwd'] = 0.6

In [7]:
stock.loc[stock['Mretwd'].isna(),'Mretwd'] = 0.0

In [8]:
# 条件赋值还有别的方法  np.where()

# np.where(condition, value in true, value in false)

stock['Trdmnt_adj'] = np.where(stock['Trdmnt']<200001,200000,stock['Trdmnt'])

In [9]:
stock

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj
0,1,199104,43.680,1157520.00,2118487.47,20,0.000000,NaN,4,200000
1,1,199105,38.340,1016010.00,1859496.56,24,-0.122253,0.235714,4,200000
2,1,199106,33.990,900735.00,1648520.81,23,-0.113459,-0.113459,4,200000
3,1,199107,29.540,782810.00,1432695.05,16,-0.130921,-0.130921,4,200000
4,1,199108,15.000,674833.82,1346274.65,15,-0.411588,-0.411587,4,200000
...,...,...,...,...,...,...,...,...,...,...
693240,900957,202205,0.554,101936.00,193346.00,19,0.069499,0.069498,2,202205
693241,900957,202206,0.598,110032.00,208702.00,21,0.079422,0.079422,2,202206
693242,900957,202207,0.584,107456.00,203816.00,21,-0.023408,-0.023411,2,202207
693243,900957,202208,0.639,117576.00,223011.00,23,0.094179,0.094178,2,202208
693244,900957,202209,0.587,108008.00,204863.00,21,-0.081377,-0.081377,2,202209

### About NaN

In [10]:
(stock.loc[0,'Mretwd'])

0.0

In [11]:
0 == (stock.loc[0,'Mretwd'])

True

In [12]:
np.NAN == (stock.loc[0,'Mretwd'])

False

In [13]:
pd.isna(stock.loc[0,'Mretwd'])

False

#### nan 做逻辑判断总是 False  除非 isna()

In [14]:
stock.loc[0,'Mretnd'] == 0

False

In [15]:
stock.loc[0,'Mretnd'] > 0

False

In [16]:
stock.loc[0,'Mretnd'] < 0

False

#### nan 不参与数值计算（总返回nan）

In [17]:
stock.loc[0,'Mretnd'] + 1

nan

#### 关于重复值

In [18]:
tp = stock.groupby(['Stkcd']).nth([1,2]).reset_index()

In [19]:
tp.iloc[:30]

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj
0,1,199105,38.34,1016010.00,1859496.56,24,-0.122253,0.235714,4,200000
1,1,199106,33.99,900735.00,1648520.81,23,-0.113459,-0.113459,4,200000
2,2,199102,15.09,422520.00,622412.70,13,0.039972,0.039972,4,200000
3,2,199103,13.18,369040.00,543631.51,21,-0.126574,-0.126574,4,200000
4,3,199108,4.95,119511.68,211445.83,27,-0.048077,-0.048077,4,200000
5,3,199109,4.70,113475.74,200766.75,25,-0.050505,-0.050505,4,200000
6,4,199102,14.17,70850.00,177125.00,13,-0.042568,-0.042568,4,200000
7,4,199103,12.38,61900.00,154750.00,16,-0.126323,-0.126323,4,200000
8,5,199102,15.59,665311.05,1403100.00,13,-0.029869,-0.029869,4,200000
9,5,199103,13.62,581240.31,1225800.00,15,-0.126363,-0.126363,4,200000
10,6,199205,53.55,835095.11,1355421.19,21,0.340426,0.340426,4,200000
11,6,199206,50.25,783632.67,1271893.83,22,-0.061625,-0.061625,4,200000
12,7,199205,35.00,294000.00,743172.50,21,0.405622,0.405622,4,200000
13,7,199206,34.00,285600.00,721939.00,22,-0.028571,-0.028571,4,200000
14,8,199206,24.15,270301.34,573804.00,22,-0.081749,-0.081749,4,200000
15,8,199207,24.80,277576.53,589248.00,23,0.026915,0.026915,4,200000
16,9,199107,3.50,295435.00,787605.00,27,-0.270833,-0.270833,4,200000
17,9,199108,3.60,303876.00,810108.00,27,0.028571,0.028571,4,200000
18,10,199511,7.54,128171.92,394844.22,22,-0.281905,-0.281905,4,200000
19,10,199512,5.75,97743.84,301108.00,21,-0.237401,-0.237401,4,200000
20,11,199204,17.65,617750.00,4015584.86,22,0.600000,0.604545,4,200000
21,11,199205,26.95,943250.00,6131445.44,21,0.526912,0.526912,4,200000
22,12,199203,9.50,161500.00,869559.23,22,-0.095238,-0.095238,4,200000
23,12,199204,14.95,254150.00,1368411.62,22,0.573684,0.573684,4,200000
24,13,199206,23.50,470000.00,2911621.80,22,-0.071146,-0.071146,4,200000
25,13,199207,24.15,483000.00,2992156.02,23,0.027660,0.027660,4,200000
26,14,199207,23.10,231000.00,613582.20,23,-0.004310,-0.004310,4,200000
27,14,199208,20.50,205000.00,544521.00,21,-0.112554,-0.112554,4,200000
28,15,199207,20.70,248400.00,1539065.70,23,-0.077951,-0.077951,4,200000
29,15,199208,18.30,219600.00,1360623.30,21,-0.115942,-0.115942,4,200000

In [20]:
# duplicated()  后出现的就为True
tp['Stkcd'].duplicated().iloc[:30]

0     False
1      True
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10    False
11     True
12    False
13     True
14    False
15     True
16    False
17     True
18    False
19     True
20    False
21     True
22    False
23     True
24    False
25     True
26    False
27     True
28    False
29     True
Name: Stkcd, dtype: bool

In [21]:
# 去除重复行   drop_duplicates

tp.drop_duplicates(subset=['Stkcd'],keep='first')  # subset 指 在哪些列判断重复

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj
0,1,199105,38.340,1016010.00,1859496.56,24,-0.122253,0.235714,4,200000
2,2,199102,15.090,422520.00,622412.70,13,0.039972,0.039972,4,200000
4,3,199108,4.950,119511.68,211445.83,27,-0.048077,-0.048077,4,200000
6,4,199102,14.170,70850.00,177125.00,13,-0.042568,-0.042568,4,200000
8,5,199102,15.590,665311.05,1403100.00,13,-0.029869,-0.029869,4,200000
...,...,...,...,...,...,...,...,...,...,...
10347,900952,199806,0.210,21000.00,21000.00,21,-0.125000,-0.125000,2,200000
10349,900953,199807,0.206,49440.00,131840.00,23,-0.201550,-0.201550,2,200000
10351,900955,199902,0.278,30580.00,30580.00,7,0.000000,0.000000,2,200000
10353,900956,199908,0.244,28060.00,57340.00,22,-0.109489,-0.109489,2,200000
10355,900957,200008,0.366,67344.00,127734.00,23,0.158228,0.158228,2,200008

In [22]:
# 看看有多少股票
len(stock['Stkcd'].unique())

5253

#### Series 的 聚集函数

In [23]:
# aggregate func : series to num

stock['Mclsprc'].count()  # count 不计算 nan

693245

In [24]:
stock.agg(['min','max','mean','std','skew'])

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj
min,1.000000,199012.000000,0.019000,1.653600e+03,1.653600e+03,1.000000,-0.896875,-0.896875,1.000000,200000.000000
max,900957.000000,202209.000000,3247.500000,2.786247e+09,5.103784e+09,27.000000,0.600000,22.052632,64.000000,202209.000000
mean,329085.419971,201265.727195,15.574280,8.601315e+06,1.170878e+07,19.766840,0.010588,0.013393,4.785050,201285.825271
std,290096.553155,742.364841,29.352897,4.464070e+07,5.248781e+07,3.187290,0.140843,0.168972,6.413119,701.145437
skew,0.010533,-0.655210,29.337203,2.353584e+01,2.372367e+01,-2.164168,0.804374,11.226271,3.622713,-0.481036

In [25]:
stock.agg({'Msmvosd':['min','max','mean','median'],'Ndaytrd':'min'})

             Msmvosd  Ndaytrd
min     1.653600e+03      1.0
max     2.786247e+09      NaN
mean    8.601315e+06      NaN
median  2.357891e+06      NaN

#### 更灵活的（定制化的）批量操作

In [27]:
stock

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj
0,1,199104,43.680,1157520.00,2118487.47,20,0.000000,NaN,4,200000
1,1,199105,38.340,1016010.00,1859496.56,24,-0.122253,0.235714,4,200000
2,1,199106,33.990,900735.00,1648520.81,23,-0.113459,-0.113459,4,200000
3,1,199107,29.540,782810.00,1432695.05,16,-0.130921,-0.130921,4,200000
4,1,199108,15.000,674833.82,1346274.65,15,-0.411588,-0.411587,4,200000
...,...,...,...,...,...,...,...,...,...,...
693240,900957,202205,0.554,101936.00,193346.00,19,0.069499,0.069498,2,202205
693241,900957,202206,0.598,110032.00,208702.00,21,0.079422,0.079422,2,202206
693242,900957,202207,0.584,107456.00,203816.00,21,-0.023408,-0.023411,2,202207
693243,900957,202208,0.639,117576.00,223011.00,23,0.094179,0.094178,2,202208
693244,900957,202209,0.587,108008.00,204863.00,21,-0.081377,-0.081377,2,202209

In [28]:
# Series to Series

stock['Mretnd'] = np.log(1 + stock['Mretnd'])   #使用math.log 会报错

In [29]:
stock['Mretnd'] = np.exp(stock['Mretnd']) - 1

In [37]:
def func(x):
    if x['Markettype'] == 1:
        x['Mclsprc'] *= 2
    elif x['Markettype'] == 4:
        x['Mclsprc'] /= 2
    return x

stock.apply(func,axis=1)

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj
0,1.0,199104.0,21.840,1157520.00,2118487.47,20.0,0.000000,NaN,4.0,200000.0
1,1.0,199105.0,19.170,1016010.00,1859496.56,24.0,-0.122253,0.235714,4.0,200000.0
2,1.0,199106.0,16.995,900735.00,1648520.81,23.0,-0.113459,-0.113459,4.0,200000.0
3,1.0,199107.0,14.770,782810.00,1432695.05,16.0,-0.130921,-0.130921,4.0,200000.0
4,1.0,199108.0,7.500,674833.82,1346274.65,15.0,-0.411588,-0.411587,4.0,200000.0
...,...,...,...,...,...,...,...,...,...,...
693240,900957.0,202205.0,0.554,101936.00,193346.00,19.0,0.069499,0.069498,2.0,202205.0
693241,900957.0,202206.0,0.598,110032.00,208702.00,21.0,0.079422,0.079422,2.0,202206.0
693242,900957.0,202207.0,0.584,107456.00,203816.00,21.0,-0.023408,-0.023411,2.0,202207.0
693243,900957.0,202208.0,0.639,117576.00,223011.00,23.0,0.094179,0.094178,2.0,202208.0
693244,900957.0,202209.0,0.587,108008.00,204863.00,21.0,-0.081377,-0.081377,2.0,202209.0

In [39]:
stock.loc[stock['Markettype']==1,'Mclsprc'] *= 2
stock.loc[stock['Markettype']==4,'Mclsprc'] /= 2

# 快很多

#### groupby

In [45]:
stock['Mretnd'] = np.log(1+stock['Mretnd'])

In [95]:
stock.groupby(['Stkcd'])[['Mretnd','Mretwd']].mean()

          Mretnd    Mretwd
Stkcd
1       0.009954  0.015890
2       0.013656  0.021081
3       0.007409  0.019896
4       0.002221  0.013104
5      -0.000266  0.005361
...          ...       ...
900952  0.005513  0.007982
900953  0.002664  0.010757
900955 -0.001590  0.003106
900956  0.012267  0.017941
900957  0.002480  0.009953

[5253 rows x 2 columns]

In [96]:
### Groupby by 的内容 就变成了 新的Index
stock.groupby(['Stkcd'])[['Mretnd','Mretwd']].mean().reset_index()

       Stkcd    Mretnd    Mretwd
0          1  0.009954  0.015890
1          2  0.013656  0.021081
2          3  0.007409  0.019896
3          4  0.002221  0.013104
4          5 -0.000266  0.005361
...      ...       ...       ...
5248  900952  0.005513  0.007982
5249  900953  0.002664  0.010757
5250  900955 -0.001590  0.003106
5251  900956  0.012267  0.017941
5252  900957  0.002480  0.009953

[5253 rows x 3 columns]

#### 如何计算 cret 12

In [97]:
stock['Mretnd'].iloc[:30]

0          NaN
1     0.211649
2    -0.120428
3    -0.140321
4    -0.530326
5    -0.033901
6     0.617977
7     0.022060
8     0.065107
9     0.059522
10    0.012759
11    0.219014
12    0.390640
13    0.160439
14   -0.073427
15    0.082238
16   -0.100257
17    0.078083
18   -0.110105
19   -0.042179
20    0.150039
21    0.094288
22    0.184364
23   -0.024098
24    0.024097
25   -0.057148
26   -0.082337
27   -0.085656
28   -0.039383
29   -0.045413
Name: Mretnd, dtype: float64

In [114]:
tp = (np.exp(stock.groupby(['Stkcd'])['Mretnd'].rolling(12).sum())-1).reset_index(level=0)

In [115]:
stock['cret12'] = tp['Mretnd']  # 危险！！！

## 列对列赋值  —————— index 匹配

In [116]:
stock['cret12_lag'] = stock.groupby(['Stkcd'])['cret12'].shift(1)

#### sorting --- 分组  pd.qcut

In [132]:
stock['rank'] = stock.groupby(['Trdmnt'])['cret12_lag'].rank(ascending=True)

In [147]:
stock['cret12_decile'] = stock.dropna(subset=['cret12_lag']).groupby(['Trdmnt'])['cret12_lag'].transform(lambda x:pd.qcut(x,5,labels=False))

### 计算portfolio 收益

In [171]:
stock

,Stkcd,Trdmnt,Mclsprc,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Trdmnt_adj,cret12,cret12_lag,rank,cret12_decile
0,1,199104,21.840,1157520.00,2118487.47,20,0.000000,NaN,4,200000,NaN,NaN,NaN,NaN
1,1,199105,19.170,1016010.00,1859496.56,24,-0.122253,0.211649,4,200000,NaN,NaN,NaN,NaN
2,1,199106,16.995,900735.00,1648520.81,23,-0.113459,-0.120428,4,200000,NaN,NaN,NaN,NaN
3,1,199107,14.770,782810.00,1432695.05,16,-0.130921,-0.140321,4,200000,NaN,NaN,NaN,NaN
4,1,199108,7.500,674833.82,1346274.65,15,-0.411588,-0.530326,4,200000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693240,900957,202205,0.554,101936.00,193346.00,19,0.069499,0.067189,2,202205,-0.102106,-0.168539,1739.0,1.0
693241,900957,202206,0.598,110032.00,208702.00,21,0.079422,0.076426,2,202206,-0.056782,-0.102106,2027.0,2.0
693242,900957,202207,0.584,107456.00,203816.00,21,-0.023408,-0.023689,2,202207,-0.094573,-0.056782,2097.0,2.0
693243,900957,202208,0.639,117576.00,223011.00,23,0.094179,0.090003,2,202208,0.052719,-0.094573,1705.0,1.0
693244,900957,202209,0.587,108008.00,204863.00,21,-0.081377,-0.084879,2,202209,-0.113293,0.052719,3113.0,3.0

In [151]:
tp = stock.groupby(['Trdmnt','cret12_decile'])['Mretwd'].mean().reset_index()

In [172]:
# 
tp = stock.groupby(['Trdmnt','cret12_decile']).apply(lambda x:(x['Msmvttl']*x['Mretwd']).sum() / x['Msmvttl'].sum()).reset_index()

In [173]:
tp

      Trdmnt  cret12_decile         0
0     199201            0.0  0.032529
1     199201            1.0  0.093489
2     199201            2.0  0.161256
3     199201            3.0  0.150242
4     199201            4.0  0.149401
...      ...            ...       ...
1840  202209            0.0 -0.097316
1841  202209            1.0 -0.077014
1842  202209            2.0 -0.061527
1843  202209            3.0 -0.039456
1844  202209            4.0 -0.035333

[1845 rows x 3 columns]

In [161]:
tp.groupby(['Trdmnt']).apply(lambda x:x.loc[x['cret12_decile']==4,'Mretwd'].iloc[0] - x.loc[x['cret12_decile']==0,'Mretwd'].iloc[0])

Trdmnt
199201    0.097913
199202    0.075857
199203    0.032273
199204   -0.561992
199205    0.041581
            ...
202205    0.016752
202206   -0.022435
202207    0.030872
202208   -0.036414
202209    0.019394
Length: 369, dtype: float64

In [166]:
# pivot  将长形数据 变成 宽型数据

ttp = tp.pivot(index='Trdmnt',columns='cret12_decile',values='Mretwd')
ttp

cret12_decile       0.0       1.0       2.0       3.0       4.0
Trdmnt
199201         0.051488  0.093489  0.161256  0.150242  0.149401
199202        -0.009347 -0.019467  0.344021  0.336868  0.066510
199203         0.111711  0.053525  0.056143  0.074605  0.143985
199204         0.294924  0.600000  0.012797  0.030200 -0.267068
199205         0.317386  0.177922  0.533715  0.461981  0.358967
...                 ...       ...       ...       ...       ...
202205         0.094761  0.100397  0.101662  0.108462  0.111513
202206         0.089872  0.078046  0.074702  0.056164  0.067437
202207         0.009396  0.017575  0.032457  0.042386  0.040268
202208        -0.019591 -0.024646 -0.016956 -0.021655 -0.056005
202209        -0.100031 -0.091031 -0.079324 -0.077640 -0.080638

[369 rows x 5 columns]

In [167]:
ttp[4] - ttp[0]

Trdmnt
199201    0.097913
199202    0.075857
199203    0.032273
199204   -0.561992
199205    0.041581
            ...
202205    0.016752
202206   -0.022435
202207    0.030872
202208   -0.036414
202209    0.019394
Length: 369, dtype: float64

#### merge